<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Agenda 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Agenda 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-agenda name="Tab 2 page"></app-agenda>
</ion-content>
