<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Agenda 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Agenda 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-agenda no="Juan" di="Avenida andromeda" te=123456789 ce=123456789 co="holamundo@gmail.com"></app-agenda>
  
</ion-content>
