<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Agenda 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-agenda></app-agenda>
</ion-content>
