<p style="text-align:center;">
  Agenda
</p>

<ion-row>
  <ion-col size="11">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="componentDatos.Nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Direccion</ion-label>
      <ion-input type="text" [(ngModel)]="componentDatos.Direccion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefono</ion-label>
      <ion-input type="number"  [(ngModel)]="componentDatos.Telefono" ></ion-input>
    </ion-item>
    <ion-item>     
      <ion-label position="floating">Celular</ion-label>
      <ion-input type="number"  [(ngModel)]="componentDatos.Celular"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="text"  [(ngModel)]="componentDatos.Correo"></ion-input>
    </ion-item>
  </ion-col>

    <ion-button color="primary" (click)="doAlert()">Enviar</ion-button>
  
</ion-row>